{{!< default}}
{{! insert everything in this file into the body tag of default.hbs }}
<!-- index -->
{{!--   <div class="archive"> --}}

    <div class="home-info">
{{#foreach posts}}
       {{#has tag="$"}}
        {{content}}
       {{/has}}
    {{/foreach}}
        </div>
<div id="homepage-1">

    {{!-- <h1 class="page__title"></h1> --}}

    <div class="homepage-columns">
        {{!-- style="margin-top:1rem" --}}
        <section>
            {{!--        <h1><a href="#newest" title="Link to section: ยง 'Newest'">Newest</a></h1> --}}
            {{!-- {{> "recent" }} --}}


            <h2 style="margin:0"> <i>Knowledge and Society </i></h2>

            <ul class="katakana">
                {{#foreach posts}}
                {{^has tag="art, poetry, note, WIP, $"}}
                <li>
                    <a href="{{url}}" rel="permalink">
                        {{title}}
                    </a>
                    </br>

                </li>

                {{/has}}
                {{/foreach}}
            </ul>


        </section>
        {{!-- style="margin-top:1rem" --}}
        <section > 
            <h2 style="margin:0"> <i>Art and Poetry </i></h2>
            <ul class="hiragana">
                <li>
                    <a href="/sketch">Sketches</a> and <a href="/about">Artworks</a>

                </li>
                <br />
                {{#foreach posts}}
                {{#has tag="art, poetry"}}
                <li>
                    <a href="{{url}}" rel="permalink">
                        {{title}}
                    </a>
                    </br>

                </li>

                {{/has}}
                {{/foreach}}


            </ul>

            {{!-- <br/> --}}
        </section>

    </div>

        <div class="homepage-columns">
            <section>
                    {{> "games" }}

            </section>
            <section>

                    <a href="/notes"><h3>Notes: Half Baked</h3></a>
                    <em>
                        Things I'm thinking about...
                    </em>
                    {{!-- <br/> --}}
                        <ul class="greek">

                    {{#foreach posts}}
                    {{#has tag="note, WIP"}}
                        
                    <li>
                        <a href="{{url}}" rel="permalink">
                            {{title}}
                        </a>

                    </li>

                    {{/has}}
                    {{/foreach}}
                    </ul>
            </section>


    </div>

                        <br/>

                        {{!-- {{> "subscribe" }} --}}
            {{> "art" }}

    <hr />
    {{!-- {{> "recent" }} --}}

</div>
